<div class="container mt-4 index">
    <h1>Últimos filmes adicionados</h1>
    {{#if empty}}
        <div class="container estado-vazio">
            <div>Desculpe, não foi encontrado nenhum registro. <i class="fa-solid fa-face-sad-cry"></i></div>
            <div>Que tal inserir um filme no nosso banco!?</div>
            <div><a href="/novo">Inserir <i class="fa-solid fa-arrow-up-right-from-square"></i></a></div>
        </div>
    {{else}}
        <ul class="card-custom">
            {{#each filmes}}
            <li class="card mb-4">
                <h3 class="card-header">{{nome}}</h3>
                {{#if imagemUrl}}
                <img src="{{imagemUrl}}" class="rounded" alt="Cartaz do filme {{nome}}">
                {{else}}
                <img src="/images/{{imagem}}" class="rounded" alt="Cartaz do filme {{nome}}">
                {{/if}}

                <div class="card-footer">
                    <i class="fa-{{avaliacao nota 1}} fa-star"></i>
                    <i class="fa-{{avaliacao nota 2}} fa-star"></i>
                    <i class="fa-{{avaliacao nota 3}} fa-star"></i>
                    <i class="fa-{{avaliacao nota 4}} fa-star"></i>
                    <i class="fa-{{avaliacao nota 5}} fa-star"></i>
                    <br>
                    <a href="/sinopse/{{nome}}"><i class="fa-solid fa-arrow-up-right-from-square"></i> Saiba mais</a>
                </div>
            </li>
            {{/each}}
        </ul>
    {{/if}}
</div>